<title>DVD List</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xz7cmOriFCe/JvTrkgJ3kkDsR1J/mZw7hflmvRq74Mv5W7LwSyl07d/xLcs4CrRe" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<style>
  body { padding-top:80px; }
  .fas { color:black; } /* default color for Font Awesome icons */
  .color-white { color:white } /* used for Font Awesome icons where white is required */
</style>
