<title>DVD List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="/views/css/app.css">
<style>
  body { padding-top:80px; }
  .fas { color:black; } /* default color for Font Awesome icons */
  .color-white { color:white } /* used for Font Awesome icons where white is required */
</style>
