<!doctype html>
<html>
  <head>
    <title>DVD List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
      body { padding-top:80px; }
      </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> DVD List Authentication</h1>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
      </div>
    </div>
  </body>
</html>
