<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navigation %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Collections</h1>
        <h2>There are <%= collections.length %> collections</h2>
        <h2><a href="/create/collection" class="btn btn-default"><span class="fas fa-plus"></span> Add collection</a></h2>
      </div>
    </div>
    <ul>
      <% collections.forEach(function(collection) { %>
        <li><a href="/collection/<%= collection.id -%>" class="btn btn-default"><%= collection.name -%></a></li>
      <% }); %>
    </ul>
  </body>
</html>
