<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navigation %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Create collection</h1>
      </div>
    </div>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <% include ../partials/message %>

        <!-- New collection form -->
        <form action="/create/collection" method="post">
          <div class="form-group">
            <label>Collection name</label>
            <input type="text" class="form-control" name="collection_name" autofocus>
          </div>

          <button type="submit" class="btn btn-primary btn-lg">Create</button>
        </form>
      </div>
    </div>
  </body>
</html>
