<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navigation %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Film <%= film.name -%> add to collections</h1>
      </div>
    </div>
    <div>
      <table class="table">
        <tr>
          <th>Collection name</th>
          <th>Actions</th>
        </tr>
        <% collections.forEach(function(collection) { -%>
          <tr>
            <td><%= collection.name -%></td>
            <td>
              <a href="/film/<%= film.id -%>/add_to/<%= collection.id -%>">
                <span class="fas fa-link" data-toggle="tooltip" title="Add film to collection" />
              </a>
            </td>
          </tr>
        <% }) -%>
      </table>
    </div>
  </body>
</html>
