<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">

      <div class="col-sm-6 col-sm-offset-3">

        <a href="/random_film/login" class="btn btn-primary">Suggest Random Film</a>
        <% if (typeof randomFilm !== 'undefined') { -%>
          <h1>Why not try <%= randomFilm.name -%></h1>
        <% } -%>

        <h1><span class="fas fa-sign-in-alt"></span> Login</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
          <div class="form-group">
            <label>User name</label>
            <input type="text" class="form-control" name="username" autofocus>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
          </div>

          <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </form>

        <% if (showSignup) { -%>
          <p>Need an account? <a href="/signup">Signup</a></p>
          <p>Or go <a href="/">home</a>.</p>
        <% } -%>
      </div>

    </div>
  </body>
</html>
