<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">

      <div class="col-sm-6 col-sm-offset-3">

        <a href="/random_film/signup" class="btn btn-default"><span class="fas fa-random" /> Random Film</a>
        <% if (typeof randomFilm !== 'undefined') { -%>
          <h1>Why not try <%= randomFilm.name -%></h1>
        <% } -%>

        <h1><span class="fas fa-user-plus"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- SIGNUP FORM -->
        <form action="/signup" method="post">
          <div class="form-group">
            <label>username</label>
            <input type="text" class="form-control" name="username" autofocus>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
          </div>

          <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>

      </div>

    </div>
  </body>
</html>
